<body>
    <div class="about">
        <h1><u>Candidate Portfolio Management for WVF</u></h1>
        <p><h2>– Candidate Portfolio Management that manages this challenge effectively.
            High level Requirements:
            <ul>
                <li>As a placement coordinator of WinVinaya, he/she should be able to see
                the profile details of any candidate.</li>
                <li>Profile data of the candidate should include and not limited to:
                    Name, Contact info, batch info, Degree, Disability, YearOfPassing, work
                    experience if any, a few main certificates, sign name clip of the student, SWOT
                    of the student (including trainer's feedback), the academic scores at a high level.</li>
                <li>The student data will be uploaded by the trainer.</li>
                <li>Search feature: The placement coordinator should be able to search for
                    the candidate profile by name, by year of pass, Stream, etc.</li>
                </ul> 
                -Build a UI to enter candidate data and to perform CRUD operations for Users
                using HTML and JavaScript, below screens will be created.
            <ul>
                <li>Create/Add records</li>
                <li>Display/List the details</li>
                <li>Update the records</li>
                <li>Create more reports as needed.</li>
            </ul>
        -Write a backend service in any programming language to handle UI request.</h2>
        <h2>-Admin should be able to add and delete the records. (No UI, but direct access
        to database) </h2>
    </div> 
</body>
