<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
  <body>
       <div class="container">
            <div class="title">Candidate</div>
                <form action="#">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"> Name </span>
                            <input type="text"placeholder="Enter your name"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Contact </span>
                            <input type="text"placeholder="Enter your contact"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Batch </span>
                            <input type="text"placeholder="Enter your Batch"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Degree</span>
                            <input type="text"placeholder="Enter your Degree"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Disability</span>
                            <input type="text"placeholder="Enter your Disability"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Year of passing</span>
                            <input type="text"placeholder="Enter your Year of passing"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Work Experience</span>
                            <input type="text"placeholder="Enter your Work Experience"required>
                        </div>
                        <div class="input-box">
                            <span class="details">SWOT</span>
                            <input type="text"placeholder="Enter your SWOT"required>
                        </div>
                        <div class="input-box">
                            <span class="details">Course</span>
                            <input type="text"placeholder="Enter your course"required>
                        </div>
                        <div class="input-box">
                            <span class="details">SSLC and Plus Two Certificate</span>
                            <label for="myfile">Select a file:</label>
                            <input type="file" id="myfile" name="myfile">
                        </div>
                        <div class="input-box">
                            <span class="details">Sign Name</span>
                            <label for="myfile">Select a file:</label>
                            <input type="file" id="myfile" name="myfile">
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Cancel">
                     </div>
                    <div class="button">
                        <input type="submit" value="Save">         
                    </div>
                </form>
            </div>
  </body>