
body
{
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: rgb(0, 0, 0);
 } 
*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
 } 

.container
{
    max-width: 800px;
    width:100%;
    background:hsl(40, 3%, 78%);
    padding:35px 50px ;
    border-radius:5px;
    margin-left: 550px;
    padding-top: 50px;
}
.container .title
{
     font-size: 20px;
     font-weight: 500px;
     position: relative;
}
.container .title ::before
{
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     height: 4px;
     background:linear-gradient(135deg, #db1da2,#ecba5d);
     
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin: 25px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
     width: calc(100% / 2-20px);
     
}
.user-details .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
   
.user-details .input-box input{
     width: 100%;
     height: 45px;
     outline: none;
     border-radius: 5px ;
     border: 1px solid rgb(230, 53, 53);
     padding-left: 15px ;
     font-size: 16px;
    border-bottom-width: 2p;
    border: 5px solid transparent;
}
.user-details .input-box input:focus,
.user-details .input-box input:focus{
      border-color: #1b0cec;
}
form .button{
height: 30px;
margin: 30px 0;
}
form .button input{
    height: 40px;
    width: 100px;
    outline: none;
    color: rgb(10, 10, 10);
    border: 1;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 0px;
}
form .button input:hover
{
    background:linear-gradient(-135deg, #e70b0b,#f01313);
}
@media(max-width:584px)
{
    .container
{
       max-width: 150px;
}
form .user-details .input-box{
    margin-bottom: 15px;
     width: 100px;
     
}
.container form .user-details{
    max-height: 300px;
}
}

