<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> LogIn </h2>
      <h4 style="color: white;">Trainer</h4>
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
        <input type="password" id="password" class="fadeIn third"  name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" routerLink="/trainer" value="LogIn">
      </form>
    </div>
  </div>
</body>