<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <!--<div class="header">
        <img src="../../assets/wvf1.jpg" alt="logo" style="width: 450px;">
    </div>   
    <div class="topnav">
        <a routerLink="home">Home</a>
        <a routerLink="about">About</a>
    </div> -->
    <div class="topnav1">
            <a routerLink="/logincoordinator"><u>LogOut</u></a>
            <a>Hi, Coordinator</a>
            <router-outlet></router-outlet>
    </div>
    
<input type="text" id="myInput" onclick="myFunction()" placeholder="Search for names.." title="Type in a name">

<table style="width:100%"  id="myTable">
    <tr  class="header">
      <th>No</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Batch</th>
      <th>Degree</th>
      <th>Disability</th>
      <th>Year of Passing</th>
      <th>Work experience</th>
      <th>Sign name</th>
      <th>SWOT</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Hari</td>
      <td>8797675687</td>
      <td>2018-2022</td>
      <td>Bsc</td>
      <td>Deaf</td>
      <td>2022</td>
      <td>NA</td>
      <td><img src="../../assets/nyle.gif" alt="sign name" style="width:150px;height:100px;"></td>
      <td>Good</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Devika</td>
      <td>8797675687</td>
      <td>2018-2022</td>
      <td>Bcom</td>
      <td>Deaf</td>
      <td>2022</td>
      <td>NA</td>
      <td><img src="../../assets/nyle.gif" alt="sign name" style="width:150px;height:100px;"></td>
      <td>Weakness</td>
    </tr>
    </table>
    
</body>